<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html {

            height: 670px;
        }

        #bg {
            width: 600px;
            height: 600px;
            margin-bottom: 20px;
            margin-left: 700px;
            background-size: 600px;
        }

        h1 {
            font-size: 42px;
            margin-left: 10px;
        }

        body::-webkit-scrollbar {
            display: none;

        }
    </style>
</head>

<body>
<div id="box">
    <h1>首 页</h1>
    <div id="bg">
    </div>
</div>


</body>

</html>